#emid{
    font-size: 14px;  
    padding-left: 5px; 
}

.email{
    padding: 16px;
}

.content{
    text-align: center;
}

.prof-info
{
    padding: 0 15vw;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 17px;
    /* grid-row: 300px; */
}
.prof-info span{
    padding: 8px 0;
}

.nav-link:hover{
    background-color: yellowgreen;
}


.env{
    padding-right: 10px;
    position: relative;
    z-index: 999;
}

/* CIRCLES ANIMATION */

/* ANIMATED BACKGROUND */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 148%;
    overflow: hidden;
    
  }
  
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: yellow;
    background-image: linear-gradient(225deg, yellow 0%, #00e331 50%, rgb(27, 255, 126) 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
  
    0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  
  }


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: yellowgreen;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


.setti{
  animation: rott 4s ease-in-out infinite;
}

@keyframes rott {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}



@media screen and (max-width:516px) {
    .setthd{
        padding-top: 20px;
        /* text-align: center; */
    }
    
    .main-container{
        padding: 10vh 0;
    }
    .prof-info{
        padding: none;
        margin: none;
    }
    .pl{
      display: none;
    }
    
}