@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sen:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');



*{
    margin: 0;
    padding: 0; 
  }

#user-nm-top{
    font-family: 'Nunito', sans-serif;
}

.navbar-brand p{
    padding: 13px 0 0 2px;
}
.navbar-brand{
    display: flex;
}


body{
    font-family: 'Roboto',sans-serif;
}

.nav-item{
    padding: 0 20px;
}

.nav-up:hover{
    background-color: yellowgreen;
    border-radius: 10px;
}

.main-container{
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    padding: 85px 0 0 0;
}

.yellowgreen{
    display: inline-block;
    width: 34.77px;
    height: 32px;
    text-align: center;
}

.movie-list-item-img{
    width: 320px;
    height: 230px;
    object-fit: cover;
    transition: 1s all ease-in-out;
    border-radius: 15px;
}
.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transition: all 0.8s ease-in-out;
    transform: translateX(0);
    
}

.movie-list-item{
    margin-right: 30px;
    margin-top: 100px;
    cursor: pointer;
    position: relative;
    height: 230px;
    
    
}


.know-more:hover{
    background-color: #016603;
    color: white;
    /* transition: all 0.5s ease-in-out; */
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.24);
    margin: 0 30px ;
    opacity: 0.7;
}

.movie-list-item:hover .movie-list-item-img{
    /* color: #333; */
    opacity: 0.3;
    transition: 1s all ease-in-out;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-button,
.movie-list-item:hover .know-more{
    opacity: 1;
    transition: 0.8s all ease-in-out;
}

.movie-list-item:hover .movie-list-item-desc{
    width: 230px;
    opacity: 0.8;
    transition: 1s all ease-in-out;
}

.yellowgreen{
    opacity: 0;
    transition: all 1s ease-in-out;
}
.red{
    opacity: 0;
    transition: all 1s ease-in-out;
}
.orange{
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item:hover .yellowgreen,
.movie-list-item:hover .green,
.movie-list-item:hover .orange,
.movie-list-item:hover .red{
    opacity: 1;
    transition: 1s all ease-in-out;
    transform: translateY(-20px);
    
};


.movie-list-item-button:hover{
    background-color: green;
    transition: all 0.5s ease-in-out;
    color: white;
}

.movie-list-item-title{
    /* background-color: #333; */
    /* bottom: 0; */
    padding: 0 10px;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10px;
    opacity: 0.5 ;
    transition: 1s all ease-in-out;
}
.movie-list-item-desc{
    
    max-height: 100px;
    overflow: scroll;
    background-color: #333;
    padding: 10px;
    margin-left: 86px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50px;
    width: 130px;
    opacity: 0 ;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 5px 20px;
    background-color: yellowgreen;
    border: none; 
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    left: 28px;
    opacity: 0;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0px;
    opacity: 0.7;
    cursor: pointer;
    color: lightgray;
}
.promo{
    position: relative;
}
.promo:hover{
    opacity: 0.7;

}
.promo:hover .promo-button{
    opacity: 1;
    transition: 0.5s all ease-in-out;
    
}
.promo-button{
    padding: 10px 30px;
    bottom: 10%;
    left: 8%;
    opacity: 0;
    position: absolute;
    background-color: yellowgreen;
    border-radius: 8px;
}
.promo-button:hover{
    background-color: green;
    color: white;
}

.movie-list-title{
    font-family: sans-serif;
    padding-left: 20px;
}

.promo-top{
    position: relative;
}

.promo-top button{
    position: absolute;
    background-color: yellowgreen;
    bottom: 10%;
    left: 15%;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
    color: black;
    
}


/* Dropdown Button */
.dropbtn {
    background-color: rgb(248,249,250);
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: yellowgreen;}


  /* @media only screen and (max-width:1190px) {

    .srch{
        display: none;
    }
  } */

.green{
    width: 40px;
    text-align: center;
    background-color: green;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
}
.yellowgreen{
    width: 40px;
    text-align: center;
    background-color: yellowgreen;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
}
.orange{
    width: 40px;
    text-align: center;
    background-color: orange;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
}
.red{
    width: 40px;
    text-align: center;
    background-color: red;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
}

.srch:focus{
    outline: none;

}

.btn-top:hover{
    background-color: gray;
    color: white;
    /* border: none; */
    outline: none;
}

footer{
    font-family: 'Roboto', sans-serif;
}

.dropdown:hover .arr{
    transform: rotate(180deg);
}

.arr{
    transition: all 0.2s ease-in-out;
}
.mf{
    background: linear-gradient(225deg, #016603 0%, #73e329 50%, #133000 100%);
    cursor: default;
}


.mflogo{
    transition: all 0.5s ease-in-out;
  }
  
  .mflogo:hover{  
    transform: rotate(360deg);
  }
  
  #signout-btn:hover{
    background-color: #e5e5e5;
  }

  #prof-img:hover{
    transform: scale(1.1);
  }
  #prof-img{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }


.promo-top img:hover{
    opacity: 0.95;
}

.promo:hover .promo-desc{
    opacity: 1;
    width: 100px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.promo-desc{
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    width: 20px;
    transition: all 0.3s ease-in-out;
}

.promo-top a button:hover{
    background-color: #016603;
    color: white;
    transition: all 0.5s ease-in-out;
}

.profile{
    padding-right: 10px;
}

.tag:hover{
    
    /* border-radius: 5px; */
    height: 35px;
    font-size: 18px;
    background-color: rgb(220, 220, 220);
}

.tag{
    height: 30px;
    cursor: pointer;
    padding-left: 4px;
}


.nores{
    padding: 10px;
    font-family: 'Roboto';    

}

#clear{
    background-color: red;
    color: white;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.know-more{
    padding: 6px 10px;
    background-color: yellowgreen;
    border: none; 
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 26px;
    opacity: 0;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


.origin-country{
    text-align: center;
    margin: 20px;
    color: rgb(108, 108, 108);
    
}



.signout-win{
    position: relative;
    width: 40vw;
    background-color: #262626;
    opacity: 1;
    /* padding: 20px; */
    border-radius: 10px;
    
}

.signout-btns{
    padding: 5px;
    margin: 20px 0px 20px 20px;
    /* margin-right: 10px; */
    border-radius: 5px;
    border: none;
}

.signout-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.signout-yes{
    background-color: red;
}

.signout-yes:hover{
    background-color: rgb(229, 0, 0);
}
.cancel:hover{
    background-color: #c7c7c7;
}

.signout-out{
    
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    display: none;
}

body{
    position: relative;
}